<div class="collapse navbar-collapse">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item active">
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="https://vng-realisatie.github.io/Standaarden/index">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Waar Staat Je Gemeente
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="https://www.waarstaatjegemeente.nl/">Waarstaatjegemeente.nl</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="https://kennisnetwerkdata.pleio.nl/groups/view/c2f6d5cc-f466-419c-8ae5-774ba9bf9403/waarstaatjegemeentenl">Kenniscentrum Waarstaatjegemeente (Pleio)</a>
          <!--div class="dropdown-divider"></div>
          <a class="dropdown-item" href=""></a-->
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          DEGO
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="https://dego.vng.nl/">DEGO</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="https://docs.dego.vng.nl/">DEGO Documentatie</a>
          <!--div class="dropdown-divider"></div>
          <a class="dropdown-item" href=""></a-->
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Wmo Voorspelmodel
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="https://wmovoorspelmodel.vng.nl/">Wmo Voorspelmodel</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="https://vng-realisatie.github.io/wmo-voorspelmodel/">Documentatie</a>
          <!--div class="dropdown-divider"></div>
          <a class="dropdown-item" href=""></a-->
        </div>
      </li>
    </ul>
</div>
